.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: auto;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.row {
  display: flex;
}

.empty {
  background: #efefef;
}

.unit {
  width: 25px;
  height: 25px;
  border: 1px solid #dedede;
}

.unit:not(.empty) {
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.unit + .unit {
  border-left: none;
}

.row + .row .unit {
  border-top: none;
}

.cube {
  background: #7e7eff;
}

.stick {
  background: #ff4444;
}

.tshape {
  background: #ffd17e;
}

.lshape {
  background: #49cc49;
}

.lshape-r {
  background: #ab3cab;
}

.lighting {
  background: #a2a2a2;
}

.lighting-r {
  background: lightsalmon;
}
