@import url("https://fonts.googleapis.com/css?family=Raleway");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.game {
  margin: 50px;
}

.board {
  position: relative;
  width: auto;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.start {
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #a2a2a2;
  border-radius: 4px;
}

.row {
  display: flex;
}

.empty {
  background: #efefef;
}

.shadow {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.unit {
  width: 25px;
  height: 25px;
  border: 1px solid #dedede;
}

.unit:not(.empty):not(.shadow) {
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.unit + .unit {
  border-left: none;
}

.row + .row .unit {
  border-top: none;
}

.cube {
  background: #7e7eff;
}

.stick {
  background: #ff4444;
}

.tshape {
  background: #ffd17e;
}

.lshape {
  background: #49cc49;
}

.lshape-r {
  background: #ab3cab;
}

.lighting {
  background: #a2a2a2;
}

.lighting-r {
  background: lightsalmon;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
}
